@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Roboto Medium', sans-serif;
}

html, body {
	height: 100%;
}

body {
	background: #ccc;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	min-width: 830px;
}

.form_login,
.form_register {
	display: flex;
	justify-content: center;
	/*align-items: center;*/
	flex-wrap: wrap;
	width: 400px;
	/*height: 500px;*/
	margin-top: 50px;
	padding: 10px 0;
	border-radius: 5px;
	background: #222A53;
	color: #fff;
	box-shadow: 0px 5px 10px #000;
}

.form_login form,
.form_register form {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 90%;
	height: 90%;
}

.form_login form span,
.form_register form span {
	font-size: 1.2em;
}

.form_login form hr,
.form_register form hr {
	width: 100%;
	height: 2px;
	background: #fff;
	border: none;
	margin: 10px 0;
}

.form_login form label,
.form_register form label {
	width: 100%;
	height: 20px;
	text-align: left;
	margin-top: 10px;
}

.form_login form input,
.form_register form input {
	width: 100%;
	height: 40px;
	margin: 5px 0;
	padding: 0 15px;
	border-radius: 10px;
	border: none;
}

.form_login form .login_error.hidden,
.form_register form .register_error.hidden {
	display: none;
}

.form_login form .login_error,
.form_register form .register_error,
.form_register form p {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
	/* height: 30px; */
	padding: 5px;
	margin-top: 10px;
	border-radius: 10px;
	font-size: 0.8em;
	background: rgb(221, 171, 171);
	color: rgb(70, 4, 4);
}

.form_login form .login_error span,
.form_register form .register_error span {
	width: 100%;
	/* text-align: center;	 */
}

.form_login form .login_options,
.form_register form .register_options {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin-top: 10px;
}

.form_login form .register,
.form_register form .login {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
	width: 40%;
}

.form_login .register span,
.form_register .login span {
	font-size: 0.9em;
	width: 100%;
}

.form_login .register a,
.form_register .login a {
	font-size: 0.8em;
	text-decoration: none;
	font-style: italic;
	color: #97BBE7;
}

.form_login .register a:hover,
.form_register .login a:hover {
	color: #fff;
}

.form_login form input[type="submit"],
.form_register form input[type="submit"] {
	width: 40%;
	cursor: pointer;
	transition: background ease 0.3s;
}

.form_login form input[type="submit"]:hover,
.form_register form input[type="submit"]:hover {
	background: #97BBE7;
}

.form_register form .nombre_completo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.form_register form .inputs_name {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.form_register form .inputs_name input {
	width: 48%;
}

aside {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	align-self: flex-start;
	flex-wrap: wrap;
	position: fixed;
	left: 0;
	z-index: 10;

	width: 20%;
	min-width: 250px;
	height: 100%;
	background: #084479;
}

aside.back {
	width: 20%;
	min-width: 250px;
	margin-right: 20px;
	height: 100%;
}

aside .userInfo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;

	width: 100%;
	height: 100px;
	padding: 10px;
	/* background: #ccc; */
	color: #fff;
}

.userInfo .userImg {
	width: 65px;
}

.userInfo .userInfoDet {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-wrap: wrap;

	width: calc(100% - 65px);
	height: 100%;
}

.userInfo hr {
	width: 100%;
	height: 3px;
	margin-top: 10px;
	border-radius: 5px;
}

.userInfo .userInfoDet span {
	width: 100%;
	text-align: right;
}

aside hr {
	border: none;
	width: 90%;
	height: 2px;
	background: #fff;
}

aside .options {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;

	width: 100%;
	/* height: calc(100% - 105px); */
	padding: 10px;
	/* background: #ccc; */
}

.options a {
	width: 100%;
	height: 40px;
	margin-bottom: 10px;
	border: none;
	background: #9fc5f8;
	color: #051258;
	text-align: center;
	line-height: 40px;
	text-decoration: none;
	cursor: pointer;
}

.options a:hover {
	background: #4073b6;
}

main {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;

	/* min-width: 620px; */
	width: 80%;
	/* height: 100%; */
	margin-left: 20%;
}

header {
	display: flex;
	/* justify-content: flex-end; */
	align-self: flex-start;
	width: 100%;
}

header bar {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	width: 80%;
	height: 60px;
	background: #073763;
	color: #fff;
	z-index: 9;
}

header .filter {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
	height: 40px;
	/* background: #91c0df; */
	margin-top: 80px;
	padding-right: 30px;
}

header .filter span {
	display: inline-block;
	width: 100px;
	height: 40px;
	border-radius: 5px;
	text-align: center;
	line-height: 40px;
	cursor: default;
	background: #91c0df;
}

header .filter select {
	width: 200px;
	height: 40px;
	margin-left: 20px;
	border-radius: 5px;
	border: none;
	padding-left: 10px;
}

header bar .logout {
	position: absolute;
	top: 10px;
	right: 30px;
	text-decoration: none;
	padding: 3px;
	background: #ffffff;
	color: #f11a1a;
	border-radius: 5px;
	transition: all ease 0.3s;
}

header bar .logout:hover {
	background: #f11a1a;
	color: #fff;
	border-radius: 50%;
}

header .barHidden {
	display: inline-block;
	height: 60px;
	width: 80%;
}

section.proyectos {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;

	width: 100%;
	/* height: calc(100% - 60px); */
	padding-top: 50px;
	/* background: rgb(203, 220, 240); */
	margin-top: 20px;
}

section.proyectos .projectData {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
	width: 80%;
	min-width: 820px;
	/* min-height: 500px; */
	background: #7ebccfbe;
	padding: 10px;
	margin-bottom: 50px;
	border-radius: 5px;
	box-shadow: 0 0 10px;
}

section.proyectos .projectData .title {
	width: 100%;
	font-weight: bold;
	margin-bottom: 20px;
}

section.proyectos .projectData .info {
	display: flex;
	flex-wrap: wrap;
	width: 60%;
}

section.proyectos .projectData .iconInfo {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30%;
	height: 300px;
	margin: auto;
	/* background: #000; */
	font-size: 15em;
	color: #084479;
}

section.proyectos .projectData .projectField {
	display: flex;
	align-items: center;
	width: 100%;
	/* height: 40px; */
	margin-bottom: 20px;
	padding: 5px;
	cursor: default;
	border-bottom: 2px dotted #051258;
	transition: all ease 0.3s;
}

section.proyectos .projectData .projectField:hover {
	background: #ccc;
	border-radius: 5px 5px 0 0;
}

section.proyectos .projectData .projectField .icon {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 40px;
	height: 40px;
	background: #051258;
	color: #fff;
	border-radius: 10px;
	margin-right: 10px;
}

section.proyectos .projectData .projectField label {
	width: 150px;
	/* background: #fff; */
	margin-right: 10px;
}

section.proyectos .projectData .projectField .value {
	width: 100%;
	text-align: right;
	font-style: italic;
}

section.proyectos .projectData .projectField #asignBudget {
	cursor: pointer;
}

section.proyectos .projectData .projectField .value.hidden {
	display: none;
}

section.proyectos .projectData .projectField form.value.hidden {
	display: none;
}

section.proyectos .projectData .projectField form.value label.hidden {
	display: none;
}

section.proyectos .projectData .projectField form.value label svg {
	color: #4db66c;
	cursor: pointer;
	transition: all ease 0.3s;
}

section.proyectos .projectData .projectField form.value label svg:hover {
	color: #16a340;
}

section.proyectos .projectData .projectField form.value .cancelAsign {
	color: #e64949;
	cursor: pointer;
	transition: all ease 0.3s;
}

section.proyectos .projectData .projectField form.value .cancelAsign:hover {
	color: #b31c1c;
}

section.proyectos .projectData .projectField form.value input[type="number"] {
	height: 30px;
	border: none;
	border-radius: 5px;
	padding: 0 10px;
	margin-right: 10px;
}

section.proyectos .projectData .projectField form.value input[type="number"]:focus {
	border: 2px solid #073763;
}

section.proyectos .projectData .projectField form.value input[type='submit'] {
	display: none;
}

section.proyectos .projectData .team {
	display:flex;
	align-content: flex-start;
	flex-wrap: wrap;
	width: 100%;
	/* min-height: 200px; */
	/* background: #ccc; */
}

section.proyectos .projectData .team span.noEquipo {
	font-size: 0.9em;
	font-style: italic;
	margin:auto;
	margin-top: 50px;
	margin-bottom: 50px;
}

section.proyectos .projectData .team .columnsTeam,
section.proyectos .projectData .team .asignedMember {
	display: flex;
	width: 100%;
	height: 50px;
	/* background: #000; */
	background: #3789cc;
}

section.proyectos .projectData .team .asignedMember {
	font-size: 0.8em;
	cursor: default;
	background: #ccc;
	transition: all ease 0.3s;
}

section.proyectos .projectData .team .asignedMember:nth-child(odd) {
	background: #bebebe;
}

section.proyectos .projectData .team .asignedMember:hover {
	background: #969595;
}

section.proyectos .projectData .team .columnsTeam div,
section.proyectos .projectData .team .asignedMember div {
	display:flex;
	justify-content: flex-start;
	align-items: center;
}

section.proyectos .projectData .team .asignedMember div {
	/* background: #ccc; */
}

section.proyectos .projectData .team .columnsTeam div.icon,
section.proyectos .projectData .team .asignedMember div.icon {
	min-width: 50px;
}

section.proyectos .projectData .team .columnsTeam div.icon svg,
section.proyectos .projectData .team .asignedMember div.icon svg {
	margin: auto;
}

section.proyectos .projectData .team .columnsTeam div.username,
section.proyectos .projectData .team .asignedMember div.username {
	min-width: 100px;
}

section.proyectos .projectData .team .columnsTeam div.nombre,
section.proyectos .projectData .team .columnsTeam div.email,
section.proyectos .projectData .team .columnsTeam div.fecha,
section.proyectos .projectData .team .asignedMember div.nombre,
section.proyectos .projectData .team .asignedMember div.email,
section.proyectos .projectData .team .asignedMember div.fecha {
	min-width: 200px;
}

section.proyectos .projectData .team .columnsTeam div.accion,
section.proyectos .projectData .team .asignedMember div.accion {
	text-align: right;
	width: 100%;
	min-width: 50px;
	/* background: #000; */
}

section.proyectos .projectData .team .asignedMember div.accion form {
	width: 100%;
	text-align: center;
}

section.proyectos .projectData .team .asignedMember div.accion form label {
	cursor: pointer;
	transition: all ease 0.3s;
}

section.proyectos .projectData .team .asignedMember div.accion form label:hover {
	color: #f11a1a;
}

section.proyectos .projectData .team .columnsTeam div.accion svg,
section.proyectos .projectData .team .asignedMember div.accion label {
	margin: auto;
}

section.proyectos .projectData .team .asignedMember div.accion input[type="submit"] {
	display: none;
}

.projectData .actProy {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	min-height: 100px;
	background: #59a4e2;
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 20px;
}

.projectData .actProy .title {
	display: flex;
	width: 100%;
	height: 50px;
	margin-bottom: 10px;
}

.projectData .actProy .title .icon {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2em;
	color: #fff;
	width: 50px;
	height: 50px;
	background: #063157;
	border-radius: 5px;
	margin-right: 10px;
}

.projectData .actProy .title .nombre {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-transform: capitalize;
}

.projectData .actProy .infoAct {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
	width: 100%;
	min-height: 100px;
	background: #ccc;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 20px;
}

.projectData .actProy .infoAct .field {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
	border-bottom: 2px dotted #051258;
	margin-bottom: 10px;
	padding: 5px;
	cursor: default;
	transition: all ease 0.3s;
}

.projectData .actProy .infoAct .field:hover {
	border-bottom: 2px solid #051258;
	background: #86c1e7;
	border-radius: 5px 5px 0 0;
}

.projectData .actProy .infoAct .field .label {
	width: 150px;
}

.projectData .actProy .infoAct .field .value {
	text-align: right;
}

.projectData .totalCostAct {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 50px;
	border-radius: 5px;
	background: #084479;
	color: #fff;
	padding-right: 10px;
}

.projectData .totalCostAct .icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	border-radius: 5px;
	background: #000;
}

.projectData .compararPresupuesto {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 50px;
	border-radius: 5px;
	background: #084479;
	color: #fff;
	padding-right: 10px;
	margin-top: 20px;
}

.projectData .compararPresupuesto .inBudget {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-width: 70%;
	height: 100%;
	background: #07852d;
	border-radius: 5px;
	padding-right: 65px;
}

.projectData .compararPresupuesto .inBudget span.icon {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2em;
	width: 50px;
	height: 50px;
	border-radius: 5px;
	background: #05581e;
}

.projectData .compararPresupuesto .outBudget {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-width: 70%;
	height: 100%;
	background: #b63e3e;
	border-radius: 5px;
	padding-right: 75px;
}

.projectData .compararPresupuesto .outBudget span.icon {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2em;
	width: 50px;
	height: 50px;
	border-radius: 5px;
	background: #580505;
}

article.noProjects {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

	width: 150px;
	margin: 20px;
}

article.project {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;

	width: 90%;
	/* height: 220px; */
	padding: 20px;
	box-shadow: 5px 5px 5px rgb(95, 95, 95);
	background: #fff;
	margin-bottom: 40px;
}

article.project .projectImg {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 150px;
	width: 150px;
	min-width: 150px;
	font-size: 0.8em;
	background: rgb(124, 187, 216);
	margin-right: 10px;
}

article.project .projectInfo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 80%;
	/* height: 160px; */
	/* background: #000; */
}

article.project .projectInfo .infoAtt {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	min-width: 97px;
	height: 100%;
	background: #fff;
	margin-right: 10px;
}

article.project .projectInfo .infoAtt span,
article.project .projectInfo .infoValue span {
	margin-bottom: 5px;
	color: #051258;
	border-bottom: 2px dotted #979696;
	margin-bottom: 10px;
}

article.project .projectInfo .infoValue span {
	color: rgb(12, 94, 170);
}

article.project .projectInfo .infoValue {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	width: 80%;
	min-width: 230px;
	height: 100%;
	background: #fff;
}

article.project .projectDetails {
	display: flex;
	width: 100%;
	margin-top: 10px;
}

article.project .projectDetails .projectDetails_btn {
	width: 100px;
	padding: 10px 5px;
	margin-left: calc(100% - 100px);
	border: none;
	color: #fff;
	border-radius: 5px;
	font-size: 1em;
	cursor: pointer;
	background: #2c5b97;
	text-decoration: none;
	text-align: center;
	transition: all ease 0.3s;
}

article.project .projectDetails .projectDetails_btn:hover {
	background: #051258;
}

div.addFirstProject {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 150px;
	height: 150px;
	margin-top: 10px;
	/* font-size: 5em; */
	background: rgb(54, 117, 158);
	color: rgb(21, 30, 77);
	cursor: pointer;
}

div.addFirstProject:hover {
	background: rgb(18, 85, 129);
	color: rgb(106, 153, 207);
}

.regProy {
	margin-top: 50px;
	height: 100px;
}

.equipo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	/* margin-top: 60px; */
	padding: 20px 60px;
	width: 90%;
	/* height: calc(100% - 60px); */
	overflow: auto;
}

.equipo .noTeam,
.equipo .addTeam {
	width: 50%;
	min-width: 330px;
	/* height: 200px; */
	margin: 0 auto;
	text-align: center;	
	color: #222A53;
	font-weight: bold;
}

.equipo .addTeam {
	width: 40%;
	margin: 30px auto;
	min-width: 360px;
}

.equipo .erroresRegistro {
	display: flex;
	flex-wrap: wrap;
	padding: 10px;
	border-radius: 5px;
	background: #f0afaf;
}

.equipo .erroresRegistro p {
	width: 100%;
	font-size: 0.9em;
	font-style: italic;
}

.equipo .noTeam .addFirstMember,
.equipo .addTeam .addFirstMember {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 300px;
	border-radius: 20px;
	border-style: dashed;
	background: #adccf5;
	cursor: pointer;
	margin-top: 20px;
	transition: all ease 0.3s;
}

.equipo .addTeam .addFirstMember {
	margin-top: 0;
	height: 250px;
}

.addUserIcon.hidden {
	display: none;
}

.equipo .noTeam .addFirstMember.active,
.equipo .addTeam .addFirstMember.active {
	border: 4px solid #222A53;
	cursor: default;
}

.equipo .noTeam .addFirstMember.active:hover,
.equipo .addTeam .addFirstMember.active:hover {
	background: #adccf5;
}

.equipo .noTeam .addFirstMember:hover,
.equipo .addTeam .addFirstMember:hover {
	background: #5195ec;
}

.addFirstMember .addMember.hidden {
	display: none;
}

.addFirstMember .addMember {
	display: flex;
	justify-content: space-between;
	align-items: center;

	width: 100%;
	height: 100%;
}

.addFirstMember .addMember .options {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 90%;
	width: 20%;
	/* background: #ccc; */
	margin-right: 10px;
	padding: 0 10px;
	border-right: 2px solid #222A53;
}

.addFirstMember .addMember .options input[type="submit"] {
	/* visibility: hidden; */
	display: none;
}

.addFirstMember .addMember .options .fa-check-circle {
	color: rgb(89, 177, 92);
	cursor: pointer;
}

.addFirstMember .addMember .options .fa-check-circle:hover {
	color: rgb(34, 119, 36);
}

.addFirstMember .addMember .options .fa-times-circle {
	color: rgb(212, 59, 48);
	cursor: pointer;
}

.addFirstMember .addMember .options .fa-times-circle:hover {
	color: rgb(109, 23, 16);
}

.addFirstMember .addMember .addUser_form {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	/* flex-wrap: wrap; */

	height: 90%;
	width: 100%;
	/* background: #ccc; */
}

.addUser_form .labels {
	display: flex;
	justify-content: space-between;
	align-content: flex-start;
	flex-flow: column wrap;
	height: 100%;
	/* width: 10%; */
	/* background: #fff; */
	text-align-last: left;
	padding-left: 10px;
}

.addUser_form .inputs {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-flow: column wrap;

	height: 100%;
	width: 100%;
	/* background: #ccc; */
}

.addUser_form input,
.addUser_form select {
	width: 90%;
	border: none;
	height: 30px;
	padding-left: 5px;
	font-size: 0.7em;
	border-radius: 5px;
}

.addUser_form input:focus,
.addUser_form select:focus {
	border: 2px solid #5195ec;
}

.addUser_form .nombre {
	width: 100%;
}

.addUser_form .nombre input {
	width: 45%;
}

.equipo .teamMember {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	min-width: 360px;
	width: 40%;
	padding: 20px 0;
	margin: 30px auto;
	border-radius: 5px;
	box-shadow: 0px 0px 10px #000;
	background: #c7e1ec;
	cursor: default;
	transition: all ease 0.3s;
}

.equipo .teamMember:hover {
	/* border: 1px solid #2c44ce; */
	box-shadow: 0px 0px 20px #0d397c;
	box-sizing: initial;
}

.equipo .teamMember .options {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	width: 20%;
	height: 200px;
	border-right: 2px solid #222A53;
	/* background: #fff; */
}

.equipo .teamMember .options span.editIcon {
	transition: all ease 0.3s;
	cursor: pointer;
}

.equipo .teamMember .options span.editIcon:hover {
	color: #1d3099;
}

.equipo .teamMember .options .imgCode {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	font-size: 0.8em;	
}

.equipo .teamMember .options .imgCode span {
	width: 100%;
}

.equipo .teamMember .options .details_btn a {
	padding: 5px 10px;
	color: #fff;
	font-size: 0.8em;
	background: #051258;
}

.equipo .teamMember .options .eraseEdit_btns {
	width: 80%;
}

.equipo .teamMember .options .eraseEdit_btns form {
	display: flex;
	justify-content: center;
	width: 100%;
}

.equipo .teamMember .options .eraseEdit_btns input[type="submit"] {
	display: none;
}

.equipo .teamMember .options .eraseEdit_btns label {
	transition: all ease 0.3s;
	cursor: pointer;
}

.equipo .teamMember .options .eraseEdit_btns label:hover {
	color: #f11a1a;
}

.equipo .teamMember .info {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
	width: 80%;
	height: 150px;
	padding-left: 10px;
	padding-right: 10px;
	/* background: #fff; */
}

.equipo .teamMember .info .atts {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;

	width: 35%;
	height: 100%;
	color: #051258;
	/* background: #ccc; */
}

.equipo .teamMember .info .atts span,
.equipo .teamMember .info .values span {
	font-size: 0.9em;
	width: 100%;
	border-bottom: 2px dotted #7b9ccf;
}

.equipo .teamMember .info .values {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;

	width: 60%;
	height: 100%;
	color: rgb(12, 94, 170);
	/* background: #000; */
}

.equipo .teamMember .info .asignTeamProject_form {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.equipo .teamMember .info .asignTeamProject_form .selectProyectToAsign {
	width: 140px;
	max-width: 140px;
	border: none;
	height: 25px;
	margin: auto;
}

.equipo .teamMember .info .asignProject_btn,
.equipo .teamMember .info .memberDetails_btn {
	/* width: 100px; */
	margin-top: 25px;
	/* background: #ccc; */
	text-align: center;
}

.equipo .teamMember .info .asignProject_btn {
	text-align: left;
}

.equipo .teamMember .info .asignProject_btn a,
.equipo .teamMember .info .memberDetails_btn a {
	padding: 5px 10px;
	background: #051258;
	color: #fff;
	font-size: 0.8em;
	text-decoration: none;
	min-width: 130px;
	border-radius: 5px;
	transition: all ease 0.3s;
}

.equipo .teamMember .info .asignProject_btn a:hover,
.equipo .teamMember .info .memberDetails_btn a:hover {
	background: #2c44ce;
	transition: all ease 0.3s;
}

.equipo .teamMember .info .memberDetails_btn .hidden,
.equipo .teamMember .info .asignProject_btn .hidden {
	display: none;
}

.equipo .teamMember .info .memberDetails_btn .asignarProyectoSubmit {
	/* display: flex; */
	border: none;
	padding: 5px 10px;
	background: #919090;
	color: #fff;
	font-size: 0.8em;
	border-radius: 5px;
	transition: all ease 0.3s;
	cursor: not-allowed;
}

.equipo .teamMember .info .memberDetails_btn .asignarProyectoSubmitActive {
	border: none;
	padding: 5px 10px;
	background: #05581e;
	color: #fff;
	font-size: 0.8em;
	border-radius: 5px;
	transition: all ease 0.3s;
	cursor: pointer;
}

.equipo .teamMember .info .memberDetails_btn .asignarProyectoSubmitActive:hover{
	background: #07852d;
}

.equipo .teamMember .info .memberDetails_btn .cancelAsign {
	color: #e64949;
	cursor: pointer;
	transition: all ease 0.3s;
}

.equipo .teamMember .info .memberDetails_btn .cancelAsign:hover {
	color: #f11a1a;
}

.detallesMember {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
	width: 80%;
	min-width: 590px;
	/* min-height: 500px; */
	background: #b3d7ec;
	border-radius: 10px;
	box-shadow: 5px 5px 20px #000;
	padding: 20px;
	margin: 50px 0;
}

.detallesMember .hidden {
	display: none;
}

.detallesMember .memberData {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
	/* padding-bottom: 20px; */
	border-bottom: 5px solid #1d408d;
}

.detallesMember .memberData .editMemberErrors {
	display: flex;
	justify-content: flex-start;
	align-content: center;
	flex-wrap: wrap;
	padding: 10px;
	width: 100%;
	border-radius: 5px;
	background: #eea8a8;
	font-size: 0.9em;
	font-style: italic;
	margin: 20px 0;
}

.detallesMember .memberData .editMemberErrors li {
	width: 100%;
	list-style: none;
}

.detallesMember .memberData form {
	width: 100%;
	margin-top: 20px;
}

.detallesMember .memberData div {
	margin-bottom: 20px;
	/* padding-bottom: 5px; */
	width: 70%;
	/* background: #bebaba; */
}

.detallesMember .memberData label {
	display: inline-block;
	min-width: 150px;
	height: 30px;
	/* border-bottom: 2px dotted #084479; */
}

.detallesMember .memberData input {
	border: none;
	border-radius: 5px;
	height: 30px;
	padding: 0 10px;
	/* background: #000; */
	width: 300px;
	transition: all ease 0.3s;
}

.detallesMember .memberData input[disabled=""] {
	border: none;
	border-radius: 5px;
	height: 30px;
	padding: 0 10px;
	background: #ccc;
	color: #000;
	width: 170px;
	transition: all ease 0.3s;
}

.detallesMember .memberData input[name="nivelUsuario"],
.detallesMember .memberData input[name="status"] {
	z-index: 10;
}

.detallesMember .memberData select[name="selectNivelUsuario"],
.detallesMember .memberData select[name="selectStatusUsuario"] {
	border: none;
	border-radius: 5px;
	height: 30px;
	padding: 0 10px;
	/* background: #000; */
	width: 300px;
	transition: all ease 0.3s;

	z-index: 9;
}

.detallesMember .memberData .options {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	width: 100%;
	height: 20px;
	/* background: #ccc; */
	border-bottom: none;
	margin-bottom: 0;
}

.detallesMember .memberData .options input[type="submit"] {
	background: #3d9c4a;
	color: #fff;
	font-size: 1em;
	transition: all ease 0.3s;
	cursor: pointer;
	width: 100px;
	text-align: center;
	margin-bottom: 10px;
}

.detallesMember .memberData .options input[type="submit"]:hover {
	background: #0c6819;
	color: #fff;
}

.detallesMember .memberData .options span {
	padding: 5px;
	background: #13448d;
	color: #fff;
	border-radius: 5px;
	width: 100px;
	text-align: center;
	cursor: pointer;
	margin-bottom: 10px;
	transition: all ease 0.3s;
}

.detallesMember .memberData .options span.change:hover {
	background: #5680be;
	/* color: #5a5a5a; */
}

.detallesMember .memberData .options span.cancelChanges {
	background: #aa615e;
	margin-left: 10px;
}

.detallesMember .memberData .options span.cancelChanges:hover {
	background: #75120e;
	/* color: #5a5a5a; */
}

.detallesMember .memberProjects {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
	/* min-width: 590px; */
	margin-top: 20px;
	padding-bottom: 20px;
	border-bottom: 5px solid #1d408d;
}

.detallesMember  .title {
	font-weight: bold;
}

.detallesMember .memberProjects .projects {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin-top: 20px;
	/* min-height: 300px; */
	/* background: #ccc; */
}

.detallesMember .memberProjects .projects .columnNames {
	display: flex;
	width: 100%;
	/* height: 30px; */
	background: #051258;
	color: #fff;
	border-radius: 5px;
	margin: 10px 0;
}

.detallesMember .memberProjects .projects .columnNames span,
.detallesMember .memberProjects .projects .asignado span {
	width: 25%;
	min-width: 100px;
	padding: 5px;
	padding-left: 10px;
	font-size: 0.9em;
	/* border-right: 2px solid #000; */
}

.detallesMember .memberProjects .projects .columnNames span.fechaAsignado,
.detallesMember .memberProjects .projects .asignado span.fechaAsignado {
	min-width: 180px;
}

.detallesMember .memberProjects .projects .columnNames span.option,
.detallesMember .memberProjects .projects .asignado span.option {
	min-width: 50px;
	padding-right: 10px;
	text-align: right;
	border-right: none;
}

.detallesMember .memberProjects .projects .asignado span.option {
	padding-right: 30px;
}

.detallesMember .memberProjects .projects .asignado span.option svg {
	transition: all ease 0.3s;
}

.detallesMember .memberProjects .projects .asignado span.option svg:hover {
	color: #ee0b0b;
	cursor: pointer;
}

.detallesMember .memberProjects .projects .asignado span.option input[type="submit"] {
	display: none;
}

.detallesMember .memberProjects .projects .asignado {
	display: flex;
	width: 100%;
	/* margin-bottom: 10px; */
	/* border-bottom: 1px dotted #081457; */
}

.detallesMember .memberProjects .projects .asignado:nth-child(even) {
	background: #70a0ca;
	transition: all ease 0.3s;
}


.detallesMember .memberProjects .projects .asignado:nth-child(odd) {
	background: #95c4ec;
	transition: all ease 0.3s;
}

.detallesMember .memberProjects .projects .asignado:nth-child(even):hover,
.detallesMember .memberProjects .projects .asignado:nth-child(odd):hover {
	background: #9fa4a8;
	cursor: default;
}

.detallesMember .memberProjects .projects .noAsignado {
	margin: auto;
	font-style: italic;
	font-size: 0.9em;
}

.registrarProyecto {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	padding-top: 60px;
	/* background: #000; */
	margin-top: 50px;
}

.registrarProyecto form {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;

	width: 80%;
	color: #051258;
	/* height: 400px; */
	/* background: rgb(189, 230, 189); */
}

.registrarProyecto form hr {
	width: 100%;
	border: none;
	height: 2px;
	margin: 30px 0;
	background: #051258;
}

.registrarProyecto form .field {
	display: flex;
	width: 100%;
	margin-bottom: 10px;
	z-index: 2;
	transition: all ease 0.3s;
}

.registrarProyecto form .field_hidden {
	display: flex;
	margin: 0;
	margin-top: -40px;
	transition: all ease 0.3s;
	height: 30px;
	width: 100%;
	z-index: 1;
}

.registrarProyecto form .field label,
.registrarProyecto form .field_hidden label {
	min-width: 20%;
	/* background: #000; */
}

.registrarProyecto form .field_hidden label {
	color: #ccc;
}

.registrarProyecto form .field input,
.registrarProyecto form .field select,
.registrarProyecto form .field textarea,
.registrarProyecto form .field_hidden select
{
	border-radius: 10px;
	padding: 0 10px;
	border: none;
	height: 30px;
	width: 300px;
}

.registrarProyecto form .field textarea {
	min-width: 300px;
	max-width: 300px;
	min-height: 50px;
	max-height: 150px;
	border: 2px solid #ccc;
	font-size: 0.9em;
	padding-top: 5px;
}

.registrarProyecto form .field .plazo {
	min-width: 140px;
	max-width: 140px;
	margin-right: 20px;
}

.registrarProyecto form .field input:focus,
.registrarProyecto form .field select:focus,
.registrarProyecto form .field textarea:focus {
	border: 2px solid #5195ec;
}

.registrarProyecto form .field select:focus {
	border-radius: 10px 0 0 0;
}

.registrarProyecto form .registrar {
	width: 100%;
	text-align: right;
	margin-top: 30px;
}

.registrarProyecto form .registrar input {
	border: none;
	background: #2336a0;
	color: #fff;
	padding: 10px 30px;
	cursor: pointer;
}

.registrarProyecto form .registrar input:hover {
	background: #081457;
}

.registrarProyecto form .field select,
.registrarProyecto form .field input[type="number"] {
	border-radius: 10px 0 0 10px;
}

.registrarProyecto form .field input[type="number"] {
	padding-right: 0;
}

.proyectoRegistrado {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.proyectoRegistrado .options {
	width: 100%;
	text-align: center;
	margin-top: 20px;
}

.proyectoRegistrado .options a {
	padding: 10px;
	background: #051258;
	color: #fff;
}

.proyectoRegistrado .options a:hover {
	background: #2639a1;
}

.proyectoRegistrado span {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #051258
}

.actividades {
	display:flex;
	flex-wrap: wrap;
	width: 80%;
	min-height: 500px;
	/* background: #084479; */
	margin-top: 100px;
}

.actividades .noActs {
	display: flex;
	justify-content: center;
	align-content: flex-start;
	flex-wrap: wrap;
	width: 60%;
	min-height: 300px;
	margin: auto;
	background: #a4d7ee;
}

.actividades .act {
	display: flex;
	justify-content: space-between;
	align-content: flex-start;
	flex-wrap: wrap;
	width: 100%;
	min-height: 300px;
	margin: auto;
	margin-bottom: 40px;
	background: #8dc1e4;
	box-shadow: 3px 3px 10px;
	border-radius: 5px;
	padding: 10px;
}

.actividades .act .info {
	display: flex;
	flex-wrap: wrap;
	width: 60%;
	min-height: 200px;
	/* background: #ccc; */
}

.actividades .act .info div.field {
	display: flex;
	width: 100%;
	min-height: 40px;
	/* background: #000; */
	margin-bottom: 10px;
	border-bottom: 2px solid #051258;
	transition: all ease 0.3s;
}

.actividades .act .info div.detalle .valor {
	/* min-height: 40px; */
	height: auto;
}

.actividades .act .info div.field:hover {
	background: #ccc;
	border-radius: 0 5px 5px 0;
}

.actividades .act .info div .icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	min-width: 40px;
	height: 40px;
	background: #051258;
	border-radius: 5px;
	margin-right: 10px;
	color: #fff;
	font-size: 1.5em;
}

.actividades .act .info div .label {
	display: flex;
	align-items: center;
	width: 150px;
	min-width: 150px;
	height: 40px;
	margin-right: 10px;
	text-align-last: left;
	/* background: #000; */
}

.actividades .act .info div .valor {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 100%;
	min-width: 150px;
	height: 40px;
	margin-right: 10px;
	text-align: right;
	/* background: #000; */
}

.actividades .act .img {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30%;
	min-height: 200px;
	/* background: #000; */
	font-size: 10em;
	color: #084479;
}

.actividades .addAct,
.proyectos .addAct {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-bottom: 20px;
	/* background: #000; */
}

.actividades .addAct a,
.proyectos .addAct a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 100px;
	border-radius: 10px;
	background: #0d397c;
	color: #fff;
	font-size: 3.5em;
	margin-top: 20px;
	transition: all ease 0.3s;
}

.actividades .addAct a:hover,
.proyectos .addAct a:hover {
	background: #031938;
	color: #fff;
	font-size: 4em;
}

.actividades .noActs .title {
	width: 100%;
	font-weight: bold;
	padding: 5px;
	background: #084479;
	color: #fff;
	text-align: center;
	margin-bottom: 10px;
}

.actividades .noActs form {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 100%;
	padding: 10px;
}

.actividades .noActs form .field {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	/* height: 40px; */
	padding: 10px;
	border-bottom: 2px solid #084479;
	margin-bottom: 10px;
	transition: all ease 0.3s;
}

.actividades .noActs form .field:hover {
	background: #ccc;
}

.actividades .noActs form .field label {
	width: 30%;
	min-width: 100px;
}

.actividades .noActs form .field input,
.actividades .noActs form .field textarea,
.actividades .noActs form .field select {
	height: 40px;
	width: 300px;
	min-width: 150px;
	border: none;
	border-radius: 10px;
	padding: 0 10px;
}

.actividades .noActs form .field textarea {
	max-width: 300px;
	min-width: 300px;
	min-height: 40px;
	max-height: 200px;
	font-size: 0.9em;
	padding-top: 10px;
}

.actividades .noActs form .field.submit {
	justify-content: center;
}

.actividades .noActs form .field.submit input {
	background: #084479;
	color: #fff;
	font-size: 1em;
	transition: all ease 0.3s;
	cursor: pointer;
}

.actividades .noActs form .field.submit input:hover {
	background: #063157;
}

footer {
	position: relative;
	bottom: 0;
	right: 0;
	align-self: flex-end;
	width: 100%;
	padding: 10px;
	text-align: right;
	color: #787777;
}